<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM"
		tools:ignore="ExactAlarmPolicy" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/launcher_icon"
		android:label="@string/homework"
		android:roundIcon="@mipmap/launcher_icon"
		android:supportsRtl="true"
		android:theme="@style/OneUITheme">
		<meta-data android:name="com.samsung.android.icon_container.feature_appicon"
			android:value="ADAPTIVEICON_SHADOW" />

		<meta-data android:name="com.samsung.android.icon_container.has_icon_container"
			android:value="true" />

		<meta-data android:name="SamsungBasicInteraction"
			android:value="SEP10" />

		<meta-data android:name="theming-meta"
			android:value="theme_metadata" />

		<meta-data android:name="theming-meta-xml"
			android:value="@xml/theme_metadata" />

		<activity android:name="com.khopan.homework.HomeworkApplication"
			android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
			android:exported="true"
			android:launchMode="singleTop">
			<meta-data android:name="com.sec.android.app.launcher.icon_theme"
				android:value="themeColor" />

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.khopan.homework.activity.NewAssignmentActivity"
			android:exported="true"
			android:showWhenLocked="true"
			tools:targetApi="27" />

		<receiver android:name="com.khopan.homework.receiver.ReminderReceiver"
			android:exported="false" />

		<service android:name="com.khopan.homework.tile.NewAssignmentTileService"
			android:exported="true"
			android:icon="@drawable/ic_oui_add"
			android:label="@string/new_assignment"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
				android:value="true" />

			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
	</application>
</manifest>
